@import 'mixins', 'variables';

.jumbotron {
  width: 100%;
  height: 90vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.top-content {
  background-image: url("../assets/undraw_true_friends_c94h.svg");
}

.students {
  background-image: url("../assets/undraw_pizza_sharing_wxop.svg");
}

.parents {
  background-image: url("../assets/undraw_book_lover_mkck.svg");
}

.educators {
  background-image: url("../assets/undraw_professor_8lrt.svg");
}

.tab-copy {
  margin-top: 40vh;
  width: 50vw;
  background-color: rgba(237, 237, 237, 0.75);
  padding: 8px;
  @media (max-width: 800px) {
    width: 100%;
    margin-top: 30vh;
  }
}


// TODO fix hever states;
.btn-primary, {
  color: #fff;
  background-color: var(--primary);
  border-color: var(--primary);
}

.btn-success {
  color: #fff;
  background-color: var(--success);
  border-color: var(--primary);
}


:root {
  --primary: #2fb8be;
  --success: #bdd13e;
}

// @import 'components/ContentTabs/contentTabs';