@import './variables';
@import './mixins';

.logo {
  height: 50px;
}

.jumbotron {
  background-image: url("../assets/kelli-tungay-324329-unsplash.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.top-content {
  height: 100vh;
}

.top-copy {
  margin-top: 40vh;
  width: 50vw;
  @media (max-width: 800px) {
    width: 80vw;
  }
}




@import './components/ContentTabs/ContentTabs';